<nav class='navbar navbar-inverse navbar-fixed-top'>
		<div class="container-fluid">
			<div class="navbar-header">
				<a href='/users' class='navbar-brand cursive'>Inspyr</a>
			</div>	
			<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="">Friends</a></li>
				<li><a href="">Books</a></li>
				<li><a href="">Latest</a></li>
			</ul>
			<ul class='nav navbar-nav navbar-right'>
				<li><a href="">Profile</a></li>
			</ul>
			</div>
		</div>	
</nav>
<br>
<br>
<br>
<br>